{% extends 'base.html' %}
{% block page_title %}Cargar Resultados{% endblock %}

{% block content %}
    <table id="resultados" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
        <thead>
        <tr>
            <th scope="col">Local</th>
            <th scope="col">Visitante</th>
            <th scope="col">Goles Local</th>
            <th scope="col">Goles Visitante</th>
        </tr>
        </thead>
        <tbody>
        <form action="{% url 'cargar_resultados' %}" method="post">
            {% csrf_token %}
            {% for partido in partidos %}
                <tr>
                    <td>
                        {{ partido.0 }}
                        <input type="hidden" value="{{ partido.0 }}" name="local">
                    </td>
                    <td>
                        {{ partido.1 }}
                        <input type="hidden" value="{{ partido.1 }}" name="visitante">
                    </td>
                    <td><input type="number" name="goles_local" required></td>
                    <td><input type="number" name="goles_visitante" required></td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="4"><input type="submit" value="Cargar"></td>
            </tr>
        </form>
        </tbody>
    </table>
{% endblock %}